*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111;
    color:white;
    font-family:Arial, Helvetica, sans-serif;

}

.container{

    max-width:1100px;
    margin:auto;
    padding:60px 30px;

}

.back-button{

    display:inline-block;

    color:white;
    text-decoration:none;

    border:1px solid #444;

    padding:12px 20px;

    border-radius:10px;

    margin-bottom:60px;

    transition:.2s;

}

.back-button:hover{

    background:white;
    color:black;

}

h1{

    font-size:64px;

    margin-bottom:70px;

}

.project{

    background:#181818;

    border:1px solid #333;

    border-radius:18px;

    padding:35px;

    margin-bottom:80px;

}

.project h2{

    font-size:42px;
    margin-bottom:8px;

}

.project h3{

    color:#8a8a8a;
    font-weight:400;
    margin-bottom:35px;

}

.gallery{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:15px;

    margin:30px 0;

}

.gallery img{

    width:300px;
    height:180px;

    object-fit:cover;

    border-radius:12px;

    transition:.2s;

}

.gallery img:hover{

    transform:scale(1.03);

}

.project p{

    color:#d0d0d0;

    line-height:1.8;

    max-width:850px;

    margin-bottom:30px;

}

.project h4{

    margin-top:30px;
    margin-bottom:15px;

    font-size:22px;

}

.project ul{

    margin-left:25px;
    line-height:2;

    color:#d0d0d0;

}

.project-link{

    display:inline-block;

    margin-top:35px;

    padding:14px 24px;

    border:1px solid white;

    border-radius:12px;

    color:white;

    text-decoration:none;

    transition:.2s;

}

.project-link:hover{

    background:white;
    color:black;

}
#lightbox{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.92);

    display:none;

    justify-content:center;

    align-items:center;

    z-index:999;

}

#lightboxImage{

    max-width:90%;

    max-height:90%;

    border-radius:15px;

}

#close{

    position:absolute;

    top:25px;

    right:40px;

    font-size:45px;

    cursor:pointer;

    color:white;

}

#prev,
#next{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    background:none;

    border:none;

    color:white;

    font-size:60px;

    cursor:pointer;

}

#prev{

    left:30px;

}

#next{

    right:30px;

}

.gallery img{

    cursor:pointer;

}
